body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  width: 500px;
}

.table-formatter__form,
.table-formatter__result,
.image-formatter__form {
  margin-bottom: 15px;
}

.table-formatter__preview label {
  display: inline-block;
  margin-bottom: 6px;
}

.image-formatter__form-width-field {
  display: flex;
  align-items: center;
}
